<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/main.css">
</head>
<body>

<!-- Header -->

<!-- Grid -->
<div class="row"> 

{% for month in months%}
<div class="column">

<div class="month">      
  <ul>
    <li>
		{{ month.name }}<br>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li><font color="red">S</font></li>
  <li>M</li>
  <li>T</li>
  <li>W</li>
  <li>T</li>
  <li>F</li>
  <li><font color="blue">S</font></li>
</ul>

<ul class="days">
  {% for day in month.days %}
  <li>{{ day }}</li>
  {% endfor %}
</ul>
</div>
{% endfor %}

</div>

</body>
</html>
