* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE 10 */
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 4px;
  margin-bottom: 4px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.month {
  padding: 5px 25px;
  width: 100%;
  /* background: #1abc9c;*/
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  list-style-type: none;
  font-weight: bold;
}

.weekdays {
  margin: 0;
  padding: 0px 0;
  /*background-color: #ddd;*/
}

.weekdays li {
  display: inline-block;
  width: 12.6%;
  /*color: #666;*/
  text-align: center;
  font-size:12px;
  font-weight: bold;
}

.days {
  padding: 0px 0;
  /*background: #eee;*/
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: /*#777*/;
  color: black;
}

.days li .active {
  padding: 2px;
  background: #1abc9c;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:1000px) {
  .weekdays li, .days li {width: 11.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 10.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 10.2%;}
}

